

@{
    ViewBag.Title = "My Error Page";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div >
    <h3>
        <strong>I'M SORRY...</strong>
    </h3>
    <h4>
        The Page, You are Looking for Not There.
    </h4>
    <h6>@Html.ActionLink("Go Back To Home Page", "Index", "LossType")</h6> 
    <br />
    <br />
</div> 
